bootstrap.servers=pli-kafka-eh.servicebus.windows.net:9093
client.id=mirror_maker_consumer

#Required for Event Hubs
sasl.mechanism=PLAIN
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="Endpoint=sb://pli-kafka-eh.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=7femNhqcSmcBdHZtUn0eRm4nt4A7Re+4YzjjRTmi9aE=";